<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UserManagementSuite">
	
	<parameter name="browsername" value="chrome" />
    <test thread-count="5" name="UserManagementTest">
		
        <classes>
            <class name="usermanagement.Payment" />
           
        </classes>
    </test>

</suite>


 